<div class="container-fuid">
  <div class="row">
    <h1 style="color: white">Estudios cursados</h1>

    <div class="col">
      <ul>
        <li>
          <h1>Escuela 1</h1>
          -
          <h3>Periodo</h3>
        </li>
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque,
          consectetur minima. Placeat saepe vero expedita consequatur culpa?
          Quisquam laborum, reiciendis, esse voluptatibus sint error dicta at
          harum beatae, est itaque!
        </span>
      </ul>
      <ul>
        <li>
          <h1>Escuela 2</h1>
          -
          <h3>Periodo</h3>
        </li>
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque,
          consectetur minima. Placeat saepe vero expedita consequatur culpa?
          Quisquam laborum, reiciendis, esse voluptatibus sint error dicta at
          harum beatae, est itaque!
        </span>
      </ul>
    </div>
  </div>
</div>
