<section id="skills"></section>
<div class="row">
  <h1 style="color: white">Hard Skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="50"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#ffffff'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [animationDuration]="500"
      [showSubtitle]="true"
      [subtitle]="'Frontend'"
      [subtitleFontSize]="'20'"
      [subtitleColor]="'#ffffff'"
      [titleColor]="'#ffffff'"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="50"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#ffffff'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [animationDuration]="500"
      [showSubtitle]="true"
      [subtitle]="'Backend'"
      [subtitleFontSize]="'20'"
      [subtitleColor]="'#ffffff'"
      [titleColor]="'#ffffff'"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="60"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#ffffff'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [animationDuration]="500"
      [showSubtitle]="true"
      [subtitle]="'Bases de datos'"
      [subtitleFontSize]="'20'"
      [subtitleColor]="'#ffffff'"
      [titleColor]="'#ffffff'"
    ></circle-progress>
  </div>
</div>
<div class="row">
  <h1 style="color: white">Soft Skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="100"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#ffffff'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [animationDuration]="500"
      [showSubtitle]="true"
      [subtitle]="'Trabajo en equipo'"
      [subtitleFontSize]="'20'"
      [subtitleColor]="'#ffffff'"
      [titleColor]="'#ffffff'"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="100"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#ffffff'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [animationDuration]="500"
      [showSubtitle]="true"
      [subtitle]="'Responsabilidad'"
      [subtitleFontSize]="'20'"
      [subtitleColor]="'#ffffff'"
      [titleColor]="'#ffffff'"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#ffffff'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [animationDuration]="500"
      [showSubtitle]="true"
      [subtitle]="'Resolver problemas'"
      [subtitleFontSize]="'20'"
      [subtitleColor]="'#ffffff'"
      [titleColor]="'#ffffff'"
    ></circle-progress>
  </div>
</div>
