<section id="education"></section>
<div class="container-fuid">
  <div class="row">
    <h1 style="color: rgb(8, 8, 8)">Estudios cursados</h1>

    <div class="col">
      <ul>
        <img
          class="logoraggio"
          src="../../assets/Logo-raggio.png"
          alt="Escuelas Raggio"
        />
        <li>
          <h1>Escuelas Raggio</h1>
          //
          <h3>1985-1990</h3>
        </li>
        <li>Carrera: Tecnico Electricista</li>
        <li>Curso: Completo</li>
      </ul>
      <ul>
        <img
          class="logoutn"
          src="../../assets/Logo-utn.jpg"
          alt="Escuelas Raggio"
        />
        <li>
          <h1>Universidad Tecnologica Nacional (UTN)</h1>
          //
          <h3>1991-1996</h3>
        </li>
        <li>Carrera: Ingeniera Electronica</li>
        <li>Curso: Incompleto (4to año)</li>
      </ul>
    </div>
  </div>
</div>
