<section id="proyects"></section>
<div class="container-fluid">
  <div class="row">
    <h1 style="color: rgb(14, 13, 13)">Proyectos</h1>

    <div class="col">
      <ul>
        <li>
          <img
            class="portfolio"
            src="../../assets/Img-portfolio.png"
            alt="Portfolio Personal"
          />
        </li>
        <li><h1 style="color: #000000">Proyecto: portfolio personal.</h1></li>
        <li style="color: #000000">
          Trabajo final del curso Argentina Programa.
        </li>
        <li style="color: #000000">Año: 2022.</li>
      </ul>
    </div>
  </div>
</div>
