<section id="experience"></section>
<div class="container-fuid">
  <div class="row">
    <h1 style="color: white">Experiencia Laboral</h1>

    <div class="col">
      <ul>
        <li>
          <h1>-Comercio Polirubro</h1>
          //
          <h3>2000-2017</h3>
        </li>
        <li>Cargo: Dueño.</li>
        <li>Tareas: Atencion al cliente, atencion a proveedores, compras.</li>
      </ul>
      <ul>
        <li>
          <h1>-Libreria</h1>
          //
          <h3>2018-actualidad</h3>
        </li>
        <li>Cargo: Dueño</li>
        <li>Tareas: Atencion al cliente, atencion a proveedores, compras.</li>
      </ul>
    </div>
  </div>
</div>
